// _variables.scss
//      Author:         Taylor Tillman
//      Description:    SCSS variables partial for 'Seven Essentials Project'
//      Date:           03/02/2022

//Colors
$background-color: #CCC9A1;
$font-color: #280001;
$font-color-neg: #F0FFCE;
$paragraph-bg-color: #F0FFCE;
$h-color: #4C230A;
$nav-color: #4C230A;
$body-a-color: #e00;